# Shared
NODE_ENV=development

# Backend
PORT=4000
API_BASE_URL=http://localhost:4000
DATABASE_URL=file:./prisma/dev.db
JWT_ACCESS_SECRET=replace-me-with-a-long-random-secret
JWT_REFRESH_SECRET=replace-me-with-another-long-random-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGIN=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api
NEXT_PUBLIC_STORE_NAME=Universal Commerce
NEXT_PUBLIC_CANONICAL_ORIGIN=http://localhost:3000

# Optional providers
STRIPE_SECRET_KEY=
PAYPAL_CLIENT_ID=
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SMTP_HOST=
SMS_PROVIDER_API_KEY=
